*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  max-width: 842px;
  width: 100%;
  margin: Auto;
  /* background-color: #1e1a1796; */
  background-color: #1d1816;
  position: relative;
  z-index: 100;
  /* background-color: grey; */
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45); /* background-color: grey; */
  width: 210mm;
  height: 297mm;
}

a {
  text-decoration: none;
  outline: none;
  color: #c6a98b;
}

h1 {
  font-size: 23px;
  color: #c6a98b;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: #c6a98b;
  font-family: "Josefin Sans", sans-serif;
}

h3,
p,
li {
  font-size: 8px;
  color: #c6a98b;
  font-family: "Josefin Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0 0 8px 15px;
  color: #c6a98b;
  font-family: "Josefin Sans", sans-serif;
}

h4 {
  margin: 0;
  color: #c6a98b;
}

hr {
  border: 0;
  height: 1px;
  margin: 5px 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1a1614),
    color-stop(50%, #c6a98b),
    to(#efe0cb)
  );
  background: linear-gradient(90deg, #1a1614 0%, #c6a98b 50%, #efe0cb 100%);
}

.home-cv {
  display: grid;
  grid-template-columns: 1fr;
  width: 21cm;
  min-height: 29.7cm;
  padding: 5rem;
  /* margin: 1cm auto; */
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  /* background: linear-gradient(90deg, #1a1614 0%, #c6a98b 50%, #efe0cb 100%); */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #1a1614, rgba(255, 255, 255, 0));

  z-index: -1000;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 1204px;
}

/* ===Header=== */

.header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.presentation {
  display: flex;
  gap: 7rem;
}

.presentation__photo {
  /* display: flex; */
  justify-content: space-around;
  z-index: 10;
}

.presentation__photo:after {
  content: "";
  position: absolute;
  width: 165px;
  height: 165px;
  border: 1px solid #c6a98b;
  opacity: 0.4;
  transform: rotate(-8deg);
  left: 80px;
  /* background: url(/portfolio_ecara/assets/Logo-34a9c95e.png) center/cover
    no-repeat; */
  z-index: -10;
  backface-visibility: hidden;
  filter: drop-shadow(2px 4px 6px black);
}

.presentation__photo img {
  width: 10rem;
  border: 1px solid #c6a98b;
  position: relative;
  display: inline-block;
  filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(30, 26, 23, 0.59);
}

/* Icon */
.icon {
  width: 50px;
}
.icon img {
  width: 100%;
  position: relative;
  display: inline-block;
}

path {
  /* fill: transparent; */
  stroke: 10;
  color: white;
  background-image: linear-gradient(
    135deg,
    #a770ef 0%,
    #cf8bf3 50%,
    #fdb99b 100%
  );
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  animation: animate-stars 2s linear forwards;
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
}

/* Gradient-svg */

#gradient-horizontal {
  $color-stop-1: #a770ef;
  $color-stop-2: #cf8bf3;
  $color-stop-3: #fdb99b;
}

#gradient-vertical {
  $color-stop-1: #00c3ff;
  $color-stop-2: #77e190;
  $color-stop-3: #ffff1c;
}

/* ===Main=== */

.container-1 {
  display: flex;
  gap: 10rem;
  border: 2px solid black;
}

.container-2 {
  display: flex;
  border: 2px solid black;
}
