*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  margin: Auto;
  width: 100%;
  max-width: 842px;
  background-color: grey;
  width: 210mm;
  height: 297mm;
}

a {
  text-decoration: none;
  outline: none;
  color: grey;
}

span {
  font-size: 14px;
}

h1 {
  font-size: 23px;
  space-align: 1px;
  margin-bottom: 10px;
  background-image: linear-gradient(
    90deg,
    #1a1614 0%,
    #c6a98b 50%,
    #efe0cb 100%
  );
  background-clip: text; /* Indique que le dégradé doit être appliqué au texte */
  -webkit-background-clip: text; /* Pour une compatibilité avec les anciennes versions de Safari */
  color: transparent;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
  color: grey;
  font-weight: 400; /* Réglez la valeur de la font-weight pour rendre le texte plus fin */
  letter-spacing: 2px; /* Réglez la valeur de letter-spacing pour ajuster l'espacement entre les lettres */
  word-spacing: 4px;
}

h3 {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: grey;
}

h4 {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  color: grey;
}

li,
p,
a {
  font-size: 14px !important;
  font-family: "Times New Roman", Times, serif;
  color: grey;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0 0 8px 15px;
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  margin: 5px 0;
  background-color: #d7d6be;
}

i {
  width: 1.3rem;
  color: #a59c84;
}

img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  filter: sepia(5px);
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 45px;
  margin: 10px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
}

aside {
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-template-columns: 1fr 1fr; */
  gap: 10px;
  height: 300px;
}

.home-cv {
  width: 21cm;
  min-height: 29.7cm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

header {
  font-family: "EB Garamond";
  text-align: center;
}

.header-title {
  font-size: 52px;
}

.header-poste {
  font-size: 18px;
  margin: 15px 0 35px 0 !important;
}

.header-link {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.header-link i {
  margin: 5px;
}

.header-link a:hover {
  color: #1a1614;
}
/* ==== Main ==== */

main {
  padding: 0 40px;
}

.contact {
  margin-bottom: 18px;
  width: 100%;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.skills img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-langages,
.container-outils {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30px);
  gap: 1rem;
  margin: 0 2rem;
}

.container-langages img,
.container-outils img {
  /* border-radius: 50%; */
  padding: 4px;
  width: 100%;
}

.summary p {
  border-left: 1px solid #e9e7e1;
  position: relative;
  padding-left: 40px;
}

/* ==== education ==== */

.education {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.education ol {
  border-left: 1px solid #e9e7e1;
  position: relative;
}

.education-list {
  border-left: 1px solid #e9e7e1;
  position: relative;
  padding-left: 40px;
}

.education-list li {
  list-style-type: none;
  position: relative;
}

.education-diplome {
  margin-bottom: 20px;
}

.education-diplome::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #d7d6be;
  position: absolute;
  right: 426px;
  top: 4px;
}

.education-description li {
  display: inline-block;
  vertical-align: top;
}

.education-description li::before {
  content: "\25AA"; /* Code Unicode pour le symbole carré (◪) */
  margin-right: 18px;
  color: #d7d6be;
  position: absolute;
  left: -12px;
}

.education-description {
  padding-left: 20px !important;
}

/* ==== experiences ==== */

.work-experience {
  margin: 30px 20px 0 0;
  padding: 0;
}

.work-experience li {
  list-style-type: none;
}

.work-experience li::before {
  margin-right: 8px;
}

.work-experience h3 {
  margin: 0px;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "Times New Roman", sans-serif;
}

.experiences__projets {
  line-height: 33px;
}

.experiences__projets p {
  margin: 0px;
}

.experiences__projets li::before {
  content: "\25AA"; /* Code Unicode pour le symbole carré (◪) */
  color: #d7d6be;
  margin-right: 8px;
}

.experiences__projets li:hover {
  color: #1a1614;
}

.experiences h3 {
  margin: 5px 0 0 0;
}

.experiences p {
  margin: 0;
}

/* ==== hobbies ==== */

.hobbies ul {
  list-style-type: none;
}

.hobbies li {
  font-size: 14px !important;
  line-height: 25px;
}

/* ==== Softskills ==== */

.softskills ul {
  padding: 0;
}

.softskills li {
  font-size: 14px !important;
  line-height: 20px;
  list-style-type: none;
}

.softskills li::before {
  content: "\25AA";
  margin-right: 8px;
  color: #d7d6be;
}

/* =========== ANNEXE ========== */

.header-annexe {
  width: 85%;
  height: 300px;
}

.annexe-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid #d7d6be;
  border-right: 1px solid #d7d6be;
  border-bottom-right-radius: 50px;
  width: auto;
  height: 100%;
}

.annexe-link li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 12px;
  margin-left: 10rem;
}

.logo {
  position: absolute;
  right: -115px;
  z-index: 99;
}

.logo img {
  width: 50%;
  box-shadow: none;
}
/*=== Main ===*/

.container-text {
  padding: 30px;
}

.text {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 3%;
}
